
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All course</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Course</h2>
            <span class="text-light">Use the below form to create a new account</span>
        </div>

        <!-- add course form -->
       
        <div class="form-popup text-center col" id="myForm" >
          <form method="POST" action="/add" class="form-container ">
            <h1>Add Course</h1><br>
              <label for="name"><b>CourseName</b></label><br>
                <input type="text" placeholder="Enter Course Name" name="name" value="" id="courseName" required><br>
      
              <label for="duration"><b>Duration</b></label><br>
                <input type="text" placeholder="Enter Days in Numbers" pattern="[0-9]*" name="duration" value="" id="duration" required><br>
      
              <label for="fees"><b>Fees</b></label><br>
                <input type="text" placeholder="Amount In Numbers" pattern="[0-9]*" name="fees" value="" id="fees" required><br>
      
              <button type="submit" class="btn btn-primary mt-1" >Submit Detail</button>
          </form>
        </div>
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->