 <!-- form handling -->
 <form action="/api/course" method="POST" id="add_course">
    <div class="new_course">
        <div class="form-group">
            <label for="COURSE NAME" class="text-light">COURSE NAME</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="HTML">
        </div>
        <div class="form-group">
            <label for="COURSE DURATION" class="text-light">COURSE DURATION</label>
            <input type="text" name="duration" value="" placeholder="6hr">
        </div>
        <div class="form-group">
            <label for="COURSE FEES" class="text-light">COURSE FEES</label>
            <input type="text" name="fees" value="" placeholder=600>
        </div>
        
           

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>