 <!-- form handling -->
 <form action="/api/course" method="POST" id="add_course">
    <div class="new_course">
        <div class="form-group">
            <label for="name" class="text-light">COURSE NAME</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="css">
        </div>
        <div class="form-group">
            <label for="duration" class="text-light">COURSE DURATION</label>
            <input type="text" name="email" value="" placeholder="5hr">
        </div>
        <div class="form-group">
            <label for="fees" class="text-light">COURSE FEES</label>
            <input type="text" name="email" value="" placeholder=600>
        </div>


        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>